manifest_se: 00-data/test_manifest_se.csv
manifest_pe: 00-data/test_manifest_pe.csv
metadata: 00-data/test_metadata_file.tsv
refseqs: 00-data/refseqs.fasta
reftax: 00-data/reftax.tsv
deblur_trim: 115
dada_trunc_len: 0
dada_trunc_len_f: 100
dada_trunc_len_r: 100
dada_trunc_q: 20
dada_trim_left_f: 1
dada_n_threads: 8
alpha_max_depth: 63
core_sampling_depth: 30
beta_group_column: treatment

# NOTE: refseqs.fasta and reftax.tsv -- and their outputs refseqs.qza, 
# reftax.qza, and classifier.qza -- should ideally be in an external directory.
# We recommend setting symbolic links in 00-data and 01-imported to these
# external files. Adding these files will circumvent the rules that produce
# them; e.g., if classifier.qza is added, the rule
# feature_classifier_fit_classifier_naive_bayes will be skipped.

# WARNING: Snakemake will not automatically rerun if parameters change. It 
# should rerun in input files change.
